[Unit]
Description=Start TCL ACPI ADSP and wait for Q6 audio services
Requires=tcl-acpi-audio-prepare.service
After=tcl-acpi-audio-prepare.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/tcl-acpi-audio-start
ExecStop=/usr/local/sbin/tcl-acpi-audio-stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
