set timeout=-1
set default=0
terminal_input console
terminal_output console
set pager=1
menuentry 'TCL diagnostic USB - show UEFI video information' {
    echo 'GRUB ARM64 is running. Linux has NOT been started.'
    videoinfo
    echo 'Press Escape to return to menu.'
    sleep --interruptible 3600
}
menuentry 'Show UEFI memory map (Space: next page)' {
    set pager=1
    lsefimmap
    echo 'Press Escape to return to menu.'
    sleep --interruptible 3600
}
menuentry 'Reboot - remove USB to return to Windows' {
    reboot
}
