set timeout=-1
set default=0
terminal_input console
terminal_output console
set pager=1
menuentry 'TCL diagnostic USB - show UEFI video information' {
    echo 'GRUB ARM64 is running. Linux has NOT been started.'
    videoinfo
    echo 'Press Escape to return to menu.'
    sleep --interruptible 3600
}
menuentry 'Show UEFI memory map (Space: next page)' {
    set pager=1
    lsefimmap
    echo 'Press Escape to return to menu.'
    sleep --interruptible 3600
}
menuentry 'Reboot - remove USB to return to Windows' {
    reboot
}

menuentry 'EXPERIMENTAL: Linux RAM test - one CPU, no UFS' {
    search --no-floppy --file --set=root /tcl-diag/TCL-RAM-TEST
    set gfxpayload=keep
    echo 'Loading experimental Linux 6.18.34 and minimal DT...'
    linux /tcl-diag/Image console=tty0 earlycon=efifb efi=novamap,noruntime,debug clk_ignore_unused pd_ignore_unused maxcpus=1 cpuidle.off=1 nokaslr loglevel=8 ignore_loglevel keep_bootcon panic=0 rdinit=/init
    devicetree /tcl-diag/sc7180-tcl-minimal-efi.dtb
    initrd /tcl-diag/initramfs.cpio.gz
}

menuentry 'EXPERIMENTAL: Linux RAM test - eight CPUs, no UFS' {
    search --no-floppy --file --set=root /tcl-diag/TCL-RAM-TEST
    set gfxpayload=keep
    echo 'Loading experimental Linux 6.18.34 and minimal DT...'
    linux /tcl-diag/Image console=tty0 earlycon=efifb efi=novamap,noruntime,debug clk_ignore_unused pd_ignore_unused maxcpus=8 cpuidle.off=1 nokaslr loglevel=8 ignore_loglevel keep_bootcon panic=0 rdinit=/init
    devicetree /tcl-diag/sc7180-tcl-minimal-efi.dtb
    initrd /tcl-diag/initramfs.cpio.gz
}

menuentry 'EXPERIMENTAL: USB + keyboard + touchpad + logs (no UFS)' {
    search --no-floppy --file --set=root /tcl-diag/TCL-RAM-TEST
    set gfxpayload=keep
    echo 'Loading USB/HID diagnostic; wait for USERSPACE and saved logs...'
    linux /tcl-diag/Image console=tty0 earlycon=efifb efi=novamap,noruntime,debug clk_ignore_unused pd_ignore_unused maxcpus=8 cpuidle.off=1 nokaslr loglevel=8 ignore_loglevel keep_bootcon panic=0 rdinit=/init
    devicetree /tcl-peripherals/sc7180-tcl-usb-hid.dtb
    initrd /tcl-peripherals/initramfs.cpio.gz
}
